STAGE=dev
PORT=8080
DB_ADDR=postgres://user:password@hostname:5432/dbname?sslmode=require
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
S3_SUBMISSIONS_BUCKET=your-bucket-name
JUDGE0_BASE_URL=http://localhost:2358
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

DUMMY_AUTH=true
